<template>
  <div class="layout">
    <Menu></Menu>
    <div class="main">
      <div class="content"></div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Menu: () => import("./components/Menu.vue"),
  },
};
</script>

<style lang="scss">
.layout {
  display: flex;
  width: 100%;
  height: 100%;

  .main {
    width: calc(100% - 200px);
    height: 100%;
    background-color: blue;
  }

  .content {
    margin: auto;
    width: 96%;
    height: 100%;
    background-color: pink;
  }
}
</style>
